// BASIC COLORS
$color-primary: #087f5b;
$color-secondary: #099268;

// TESTIMONIAL-SECTION COLORS
$color-ts--1: #e6fcf5;
$color-ts--2: #c3fae8;

// GREY COLORS
$color-grey-dark: #343a40;
$color-grey: #495057;
$color-white: #fff;

// SHADOW COLOR
$color-shadow: rgba(0, 0, 0, 0.07);
