// COLORS
$color-primary: #e67e22;

// TINTS
$color-tint-1: #fdf2e9;
$color-tint-2: #fae5d3;
$color-tint-3: #eb984e;

// SHADES
$color-shades-1: #cf711f;
$color-shades-2: #45260a;

// GREY
$color-grey-1: #555;
$color-grey-2: #333;
$color-grey-3: #ddd;
$color-grey-4: #888;
$color-grey-5: #767676;
$color-grey-6: #6f6f6f;
$color-grey-7: #aaa;
$color-grey-8: #eee;

// ACCENTS
$color-white: #fff;
$color-black: #000;
$color-vegeterian: #51cf66;
$color-vegan: #94d82d;
$color-paleo: #ffd43b;

// SHADOWS
$box-shadow-1: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
$box-shadow-2: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
