@import "colors";

// LIST
.list {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	line-height: 1.2;

	&__item {
		font-size: 1.8rem;
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		color: $color-primary;
	}
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);

	/* Another way */
	/* outline: 4px dotted $color-primary;
  outline-offset: 8px; */
}
